/* Login Page - START */
.loginMain {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background-image: url('./assets/imgs/flowers.png');
  background-position: center;
  background-size: 75%;
  background-repeat: no-repeat;
}

.loginWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 45%;
}

img {
  position: absolute;
  width: 220%;
  z-index: -1;
}

h2 {
  font-size: 3.5rem;
  margin: 0;
  text-align: center;
}

input[type='text']
{
  font-family: 'Charm', cursive;
}

.emailInput {
  border: 0;
  border-bottom: 3px solid #607348;
  padding: 0 1rem; 
  font-size: 2rem;
  color: #607348;
  width: 100%;
  background: transparent;
}

/* Chrome, Mozilla, Opera */
::placeholder {
  color: #607348;
}

/* Internet Explorer */
:-ms-input-placeholder {
  color: #607348;
}

/* Microsoft Edge */
::-ms-input-placeholder {
  color: #607348;
}

input:focus, button:focus {
  outline: none;
}

.loginError {
  color: red;
}
/* Login Page - END */

/* Home PAge - START */
.homeWrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100vh;
}

.rsvpWrapper {
  display: flex;
  flex-direction: column;
}

h3 {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.rsvpButton {
  padding: 0.5rem 10rem;
  font-size: 3rem;
  align-self: center;
  background-color: #607348;
  margin-top: 2rem;
}

.rsvpButton:hover, .modalCloseBtn:hover, .rsvpOptions input:hover, .rsvpSubmitBtn:hover {
  cursor: pointer;
}

.modalWrapper {
  position: fixed;
  border: 2px solid black;
  text-align: center;
  background: #fff;
  padding: 1rem;
  width: 45%;
  top: 15%;
  box-shadow: 6px 6px 5px -2px rgb(93, 91, 91);
}

.modalCloseBtn {
  position: fixed;
  left: 70%;
  font-weight: bold;
  border: none;
  font-size: 1rem;
  color: #607348;
}

.modalOpen {
  background-color: #aaa;
}

.rsvpForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rsvpOptions {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.rsvpOptions :last-child {
  margin-left: 1rem;
}

.rsvpMoreInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.plusOneInput, .allergyInput {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.whatWhenWhereWrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  text-align: center;
  margin-top: 3rem;
}