/* Login Page - START */
.loginMain {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-image: url('./assets/imgs/bottom.svg');
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 57%;
  background-color: #607348;
  height: 100vh;
}

.loginWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 45%;
  margin: 150px;
}

.loginWrapper img {
  position: fixed;
  bottom: 25px;
  right: 20px;
  width: 30vw;
  max-height: 50vh;
}

.loginWrapper > div,  .modalContent {
  background: #fff;
  border-radius: 10px;
  height: 50vh;
  min-height: 300px;
  padding: 10px;
  box-shadow: 4px 4px 4px;
  min-width: 50vw;
}

.loginWrapper form {
  display: flex;
  flex-direction: column;
}

.loginWrapper .ui.input input[type=submit] {
  text-align: center
}

h2, h2:first-child {
  font-size: 3.5rem;
  text-align: center;
  margin: 3rem 0;
}

.emailInput {
  border: 0;
  font-size: 2rem;
  width: 100%;
  margin: 10px 0;
  background: transparent;
}

/* Chrome, Mozilla, Opera */
::placeholder {
  color: #607348;
}

/* Internet Explorer */
:-ms-input-placeholder {
  color: #607348;
}

/* Microsoft Edge */
::-ms-input-placeholder {
  color: #607348;
}

input:focus, button:focus {
  outline: none;
}

.loginError {
  color: red;
}
/* Login Page - END */



/* Home Page - START */
.homeWrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100vh;
  position: relative;
}

.homeWrapper::before, .homeWrapper::after {
  content: "";
  height: 40vw;
  width: 40vw;
  max-width: 400px;
  background-image: url('./assets/imgs/flowers-one.svg');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: -1;
}

.homeWrapper::after{
  background-image: url('./assets/imgs/flowers-two.svg');
  right: 20px;
  left: auto;
}

.content {
  padding-top: 25vh;
  width: 65%;
}

.rsvpWrapper {
  display: flex;
  flex-direction: column;
}

h3 {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.rsvpButton {
  padding: 0.5rem 10rem;
  font-size: 3rem;
  align-self: center;
  background-color: #607348;
  margin-top: 2rem;
  width: 100%;
}

.rsvpButton:hover, .modalCloseBtn:hover, .rsvpOptions input:hover, .rsvpSubmitBtn:hover {
  cursor: pointer;
}

/* Modal */
.modalWrapper {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: #6073488c;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1
}

.modalBody {
  height: 100%;
}

.modalContent {
  text-align: center;
  background: #fff;
  padding: 1rem;
  width: 45%;
  box-shadow: none;
  /* box-shadow: 6px 8px 5px -2px rgba(0, 0, 0, 0.41); */
  position: relative;
}

.modalCloseBtn {
  font-weight: bold;
  border: none;
  font-size: 1.3rem;
  color: #607348;
  position: absolute;
  right: 20px;
}

/* Rsvp Form */
.rsvpForm .react-toggle--focus .react-toggle-thumb {
  box-shadow: none;
}

.rsvpForm {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.react-toggle {
  margin: 24px;
  transform: scale(3.5);
}

.rsvpMoreInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label .ui.input input,
.ui.selection.dropdown {
  margin-left: .5em;
}

label {
  margin-bottom: 2em;
}

.ui.selection.dropdown {
  min-width: initial;
}

.plusOneInput, .allergyInput {
  font-size: 1rem;
  margin-bottom: 1rem;
}

/* Icons */
.whatWhenWhereWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: center;
  margin-top: 3rem;
}

.whatWhenWhereWrapper > div:hover svg {
  animation: wiggle .5s;
}

@keyframes wiggle {
  25% {
    transform: translate(-10px);
  }
  50% {
    transform: translate(10px);
  }
}


/* Schedule */
.sectionHeader {
  text-align: center;
  margin: 100px 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectionInner {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.sectionInner > div:nth-child(odd) {
  align-self: flex-end;
}

.scheduleWrapper .sectionInner > div,
.whatWrapper .sectionInner > div > div,
.whereWrapper .sectionInner > div {
  width: 48%;
  background: #e0e1e2;
  padding: 10px;
  border-radius: 8px;
}

.scheduleWrapper .sectionInner > div:hover,
.whatWrapper .sectionInner > div > div:hover,
.whereWrapper .sectionInner > div:hover {
  background: #cacbcd;
}

/* What */
.whatWrapper .sectionInner > div {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.whatWrapper .sectionInner > div:nth-child(odd) {
  flex-direction: row-reverse;
}

.whatWrapper img {
  width: 50%;
}

.scheduleWrapper .sectionInner:after {
  content: '';
  height: 80%;
  width: 2px;
  background: #607348;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* When */
.whereWrapper {
  margin-bottom: 200px;
}

.whereWrapper .sectionInner > div {
  width: 100%;
}