body, html, #root {
  margin: 0;
  font-family: 'Charm', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-height: 100vh;
  color: #607348;
}

button {
  font-family: 'Charm', cursive;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
